* {
    --light-default: #111;
    --light-primary: #2a6cea;
    --light-neutral: #fefeff;
    --light-surface: #fcfcfc;
    --light-element: #f4f4f5;
    --light-elevate: #f1f1f4;
    --light-comment: #71717a;
    --light-post-bg: #f7f7f8;
    --light-muted: #2e2e33;
    --light-soft: #54545a;
    --light-subtle: #8a8a90;
    --light-primary-hover: #2056c4;
    --light-post-hover: #efeff1;
    --light-pill: #ffffff;
    --light-icon-secondary: #c3c8d4;

    --dark-default: #fafafa;
    --dark-primary: #6f9dfa;
    --dark-neutral: #08080a;
    --dark-surface: #0a0a0b;
    --dark-element: #131316;
    --dark-elevate: #1f1f24;
    --dark-comment: #7c7c86;
    --dark-post-bg: #121215;
    --dark-muted: #dcdce0;
    --dark-soft: #a6a6ae;
    --dark-subtle: #71717a;
    --dark-primary-hover: #96b8fc;
    --dark-post-hover: #18181c;
    --dark-pill: #2c2c33;
    --dark-icon-secondary: #45454d;

    --light-syntax-keywords: #d73a49;
    --light-syntax-selector: #22863a;
    --light-syntax-warnings: #e36209;
    --light-syntax-property: #005cc5;
    --light-syntax-function: #6f42c1;
    --light-syntax-surround: #032f62;
    --light-syntax-comments: #6a737d;
    --light-syntax-modified: #2a6cea;
    --light-syntax-highline: #f8faff;

    --dark-syntax-keywords: #ff7b72;
    --dark-syntax-selector: #7ee787;
    --dark-syntax-warnings: #ffa657;
    --dark-syntax-property: #79c0ff;
    --dark-syntax-function: #d2a8ff;
    --dark-syntax-surround: #a5d6ff;
    --dark-syntax-comments: #8b949e;
    --dark-syntax-modified: #81a7f1;
    --dark-syntax-highline: #16161a;
}

:root {
    color-scheme: light;
    --default: var(--light-default);
    --primary: var(--light-primary);
    --neutral: var(--light-neutral);
    --surface: var(--light-surface);
    --element: var(--light-element);
    --elevate: var(--light-elevate);
    --comment: var(--light-comment);
    --post: var(--light-post-bg);
    --muted: var(--light-muted);
    --soft: var(--light-soft);
    --subtle: var(--light-subtle);
    --primary-hover: var(--light-primary-hover);
    --post-hover: var(--light-post-hover);
    --pill: var(--light-pill);
    --icon-secondary: var(--light-icon-secondary);

    --syntax-keywords: var(--light-syntax-keywords);
    --syntax-selector: var(--light-syntax-selector);
    --syntax-warnings: var(--light-syntax-warnings);
    --syntax-property: var(--light-syntax-property);
    --syntax-function: var(--light-syntax-function);
    --syntax-surround: var(--light-syntax-surround);
    --syntax-comments: var(--light-syntax-comments);
    --syntax-modified: var(--light-syntax-modified);
    --syntax-highline: var(--light-syntax-highline);
}

[color-scheme='light'] {
    color-scheme: light;
    --default: var(--light-default);
    --primary: var(--light-primary);
    --neutral: var(--light-neutral);
    --surface: var(--light-surface);
    --element: var(--light-element);
    --elevate: var(--light-elevate);
    --comment: var(--light-comment);
    --post: var(--light-post-bg);
    --muted: var(--light-muted);
    --soft: var(--light-soft);
    --subtle: var(--light-subtle);
    --primary-hover: var(--light-primary-hover);
    --post-hover: var(--light-post-hover);
    --pill: var(--light-pill);
    --icon-secondary: var(--light-icon-secondary);

    --syntax-keywords: var(--light-syntax-keywords);
    --syntax-selector: var(--light-syntax-selector);
    --syntax-warnings: var(--light-syntax-warnings);
    --syntax-property: var(--light-syntax-property);
    --syntax-function: var(--light-syntax-function);
    --syntax-surround: var(--light-syntax-surround);
    --syntax-comments: var(--light-syntax-comments);
    --syntax-modified: var(--light-syntax-modified);
    --syntax-highline: var(--light-syntax-highline);
}

[color-scheme='dark'] {
    color-scheme: dark;
    --default: var(--dark-default);
    --primary: var(--dark-primary);
    --neutral: var(--dark-neutral);
    --surface: var(--dark-surface);
    --element: var(--dark-element);
    --elevate: var(--dark-elevate);
    --comment: var(--dark-comment);
    --post: var(--dark-post-bg);
    --muted: var(--dark-muted);
    --soft: var(--dark-soft);
    --subtle: var(--dark-subtle);
    --primary-hover: var(--dark-primary-hover);
    --post-hover: var(--dark-post-hover);
    --pill: var(--dark-pill);
    --icon-secondary: var(--dark-icon-secondary);

    --syntax-keywords: var(--dark-syntax-keywords);
    --syntax-selector: var(--dark-syntax-selector);
    --syntax-warnings: var(--dark-syntax-warnings);
    --syntax-property: var(--dark-syntax-property);
    --syntax-function: var(--dark-syntax-function);
    --syntax-surround: var(--dark-syntax-surround);
    --syntax-comments: var(--dark-syntax-comments);
    --syntax-modified: var(--dark-syntax-modified);
    --syntax-highline: var(--dark-syntax-highline);
}
