body {
    font-family:
        'DM Sans',
        'DM Sans Fallback',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        system-ui,
        sans-serif;
}

code,
pre,
kbd,
samp {
    font-family:
        'Space Grotesk', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        monospace;
}

img,
a {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar:horizontal {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--subtle);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--soft);
    cursor: pointer;
}

::-webkit-scrollbar-track {
    width: 3px;
    background: var(--elevate);
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.theme-icon-light,
.theme-icon-dark {
    display: none !important;
}

html[data-theme-mode='light'] .theme-icon-light,
html[data-theme-mode='dark'] .theme-icon-dark {
    display: inline-flex !important;
}

html[data-theme-mode='light'] .theme-icon-system,
html[data-theme-mode='dark'] .theme-icon-system {
    display: none !important;
}

.icon-duotone {
    fill: var(--icon-secondary);
}

html[color-scheme='dark'] [data-tech='vercel'],
html[color-scheme='dark'] [data-tech='prisma'],
html[color-scheme='dark'] [data-tech='nextjs'] {
    filter: invert(1);
}

html[color-scheme='dark'] [data-tech='aws'] [fill='#252f3e'] {
    fill: #e8e8ea;
}
